* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: rgb(239, 239, 239);
  width: 100vw;
  height: 100vh;
}

.container {
  background: rgb(49, 92, 233);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin: auto;
  padding: 1rem;
  color: white;
  margin-top: 1rem;
}

.input {
  padding: 0.6rem 1rem;
  width: 20rem;
  border-radius: 5px;
  outline: none;
}

.input-register {
  width: 80vw;
  border: none;
  border-bottom: 2px solid lightgray;
}

.btn-register {
  border: none;
}

.icon {
  font-size: 2rem;
  color: white;
}

.btn {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  margin: 0.5rem;
  background: rgb(49, 92, 233);
  color: white;
}

.color-btn {
  background: rgb(49, 92, 233);
}

.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cards {
  width: 80vw;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

p {
  margin-bottom: 0;
}

.card {
  justify-content: center;
}

.card-body {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.image {
  background: red;
  width: 4rem;
  height: 4rem;
}
